name: CI/CD Discord Bot (TOB)
on:
  push:
    branches:
      - container
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build the Docker image
        run: docker build -t tob .
      - name: Run the docker repo
        run: docker run -itd tob
      - name: See if the container is executing
        run: docker ps
